
/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,200;1,100&display=swap');

*{
    margin: 0;
    padding: 0;

    /* from google fonts */
    font-family: 'Poppins', sans-serif; 
}

.container{
    position: relative;
    width: 100%;
    height: 85vh;
    /* 1vh=1% */
    background-color: whitesmoke;

}


nav{
    display: flex;
    width: 100%;
    margin-left: 0px;
    align-items: center;
    /* to get space btw contents */
    justify-content: space-between;
    background-color: rgb(169, 132, 84);
}

nav .logo{
    width: 90px;

}

nav ul li{
    /* for straight line */
    display: inline-block;
    margin: 10px 20px;
}


nav ul li a{
    text-decoration: none;
    color: rgb(240, 239, 243);
    font-weight: bold;
}

/* psuedo class-to get specialm effect on mouse hove

selector:psuedo=class-name{property:value}*/

nav ul li a:hover{
    color: rgb(220, 27, 14);
}

.Image3 {
    width: 100%;
    height: 105%;
    bottom: 10;
    position: absolute;
    justify-content: space-between;
    
}

.title{
    margin-right:5%;
    margin-top: 43%;
    margin-left: 8%;

}

.title h1{
    font-size: 50px;
    color: beige;
    margin-bottom: 20px;
}

.title span{
    color:burlywood;
}

.title p{
    color:bisque;
    line-height: 30px;
}

.title a{
    background-color: rgb(234, 180, 110);
    padding: 10px 18px;
    text-decoration: none;
    color: beige;
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}


.images img{
    width: 20%;
    height: 50%;
    bottom: -360px;
    position: absolute;
    right: 135px;
    margin-top: -30%;
}

#home{
    background-color: rgb(3, 3, 3);
}


#container{
    background-color: black;
}


#about{
    margin-right:0%;
    margin-top: 0%;
    margin-left: 0;
    background-color:papayawhip;
}

.heading{
    text-align: center;
    font-weight: bolder;
    font-style: initial;
}

.heading h2{
    font-size: 35px;
    font-weight: bolder;
    
    
}
.about-text span{
    color: rgba(124, 62, 11, 0.788);
    font-weight: bolder;
} 

.heading span{
    font-size: 20px;
    color: rgba(75, 45, 10, 0.747);
    font-weight: bold;
}

.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.about-img img{
    width: 70%;
    margin-top: -82px ;
    height: 27rem;
}



.about-text{
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    margin-right: 20px;
}

.information{
    margin:1rem 0 1.4rem ;
}



.information .info-box{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: bolder;
}

.information .info-box span{
    font-weight: 500;
    margin-left: 15px;
    font-weight: bolder;
}

.raisha{
    background-color:  peachpuff;
    
    
}

/* Style for the table */
table {
    width: 100%;
    background-color: rgba(245, 245, 220, 0.573);
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid burlywood;
    
}
.container{
    background-color: papayawhip;
}

th, td {
    padding: 8px;
    text-align: left;
    width: 80%;
}



h1{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(90, 44, 7);
}

.part h2{
    background-color: rgba(160, 114, 49, 0.523);
    color: rgb(12, 12, 12);
    font-weight: bold
}

#contact{
    margin-left:0;
    margin-top: 50px;
    margin-right: 0;
    background-color:papayawhip ;
    
    

}

.icondiv{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.heading span{
    color: rgb(139, 103, 12);
    margin-top: -100px;
    font-size: 20px;
}

.icon{
    width: 50px;
    height: 50px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

margin: 0 10px;   
 background-color: rgb(218, 127, 16);

}

.icon i{
    font-size: 20px;

}

.icon i:hover{
    color: red;
}

footer{
    
    font-weight: bolder;
    background-color: papayawhip;
}
